@import "tailwindcss";

@theme {
  --color-primary: #064e3b;
  --color-accent: #c2410c;
  --color-accent-hover: #9a3412;
}

@source "../index.html";
@source "../formulario.html";
@source "../acercaDe.html";

/* @import "./base.css";
@import "./components.css"; 
@import "./layout.css";
@import "./iconos.css";*/
@import "./forms.css";
/* @import "./detalleLibro.css"; */
@import "./acercaDe.css";